# Ignore environment files
backend/.env
frontend/.env

# Ignore node modules
backend/node_modules/
frontend/node_modules/

# Ignore docker compose
docker-compose.yml
*.yml--
*.ts.--
ls
package-lock.json

# Ignore sample data
aksampledata/

# Ignore README
README.md

# Ignore database backups
RAW_MYSQL_BACKUP/
*.sql

storage/

# Logs
logs/
*.log
